<footer class="page-footer purple lighten-1">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 cpyrgt">
          © 2018 Amy Baldwin
        </div>
        <div class="col s12 m6 social-foot">
           <a class="grey-text text-lighten-4 right" href="#!"><a href="https://github.com/amybaldwindev"><i class="fa fa-github-alt" aria-hidden="true"></i></a>   <a href="https://www.linkedin.com/in/amymbaldwin/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
         </div>
      </div><!--row-->
    </div><!--container-->
  </div><!---footer-copyright-->
</footer>